.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
  color: black;

}

.board-conatiner{
  margin:20px;
  background-color: rgb(90, 163, 163);
}
.body{
  background-color: aqua;
}

#head{
  align-items: center;
  justify-content: center;

}
